doctype html
html
	head
        title= title
		<meta content='text/html; charset=utf-8'>
        <meta name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
        <meta http-equiv='X-UA-Compatible', content='IE=edge,chrome=1'>
        <meta http-equiv='content-language', content='vi'>
        <meta name='robots', content='index,follow'>
        //- All Search Engines
        <meta name='googlebot', content='index,follow'>
        //- Google Specific
        <meta name='description', content='An Biên Restaurant - The Best Restaurant In Town'>
        <meta name='keywords', content='An Bien restaurant'>
        <meta property='og:type', content='website'>
        <meta property='og:title', content='An Biên Restaurant - The Best Restaurant In Town'>
        <meta property='og:description', content='An Biên Restaurant - The Best Restaurant In Town'>
        <meta property='og:url', content=''>
        //- Don't duplicate content
        <link rel='canonical', href=''>
        //- Favicon
        <link rel='icon', type='image/png', href='assets/images/favicon.png', sizes='32x32'>
    	block head_end

    body
    	block content

    	block body_end