extends pug/_layouts/home

block head_end
    //-vendor css
    link(href="assets/vendor/bootstrap.css" rel="stylesheet")
    link(href="assets/vendor/font-awesome.css" rel="stylesheet")
    link(href="assets/vendor/owl.carousel.css" rel="stylesheet")
    link(href="assets/scss/style.css" rel="stylesheet")

main
    .back-to-top
        a(href='')
            i.fa.fa-long-arrow-up
    article.banner
        #banner-carousel.owl-carousel
            .owl-items
                img.img-fluid(src='assets/images/bg_banner1.jpg', alt='')
                .banner-caption
                    img.img-fluid(src='assets/images/banner-slide-icon.png', alt='')
                    h2.banner-caption-title
                        a(href='') Wellcome to An Bien Restaurant
                    p.banner-caption-text
                        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque aperiam.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    a.button-reservation(href='assets/page/menu.html', target='_blank') Check our menu
            .owl-items
                img.img-fluid(src='assets/images/bg_banner2.jpg', alt='')
                .banner-caption
                    img.img-fluid(src='assets/images/banner-slide-icon.png', alt='')
                    h2.banner-caption-title
                        a(href='') Happy Sunday 20% OFF
                    p.banner-caption-text
                        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque aperiam.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    a.button-reservation(href='assets/page/shop.html', target='_blank') Order now!
            .owl-items
                img.img-fluid(src='assets/images/bg_banner3.jpg', alt='')
                .banner-caption
                    img.img-fluid(src='assets/images/banner-slide-icon.png', alt='')
                    h2.banner-caption-title
                        a(href='') About us
                    p.banner-caption-text
                        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque aperiam.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    a.button-reservation(href='assets/page/about.html', target='_blank') Learn more
    // end banner carousel
    article.about
        .container
            .row
                .about-item.col-xs-12.col-md-4.text-xs-center
                    a(href='assets/page/about.html')
                        img.img-fluid.img-thumbnail(src='assets/images/about1.jpg', alt='')
                    h3.about-title
                        a(href='assets/page/about.html') Our Restaruant Story
                    p.about-text
                        | Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium.
                    p.about-readmore
                        a(href='assets/page/about.html') Read More
                .about-item.col-xs-12.col-md-4.text-xs-center
                    a(href='assets/page/about.html')
                        img.img-fluid.img-thumbnail(src='assets/images/about2.jpg', alt='')
                    h3.about-title
                        a(href='assets/page/about.html') About Our Chefs
                    p.about-text
                        | Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium.
                    p.about-readmore
                        a(href='assets/page/about.html') Read More
                .about-item.col-xs-12.col-md-4.text-xs-center
                    a(href='assets/page/about.html')
                        img.img-fluid.img-thumbnail(src='assets/images/about3.jpg', alt='')
                    h3.about-title
                        a(href='assets/page/about.html') Check Our Sweet Menu
                    p.about-text
                        | Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium.
                    p.about-readmore
                        a(href='assets/page/about.html') Read More
    // about
    section.menu
        article.menu-intro
            h2.menu-intro-title Our Delicious Menu Items
            h4.menu-intro-text Fresh And Healthy Food Available
            ul.menu-list
                li
                    a.active(href='', data-menu='all') All
                li
                    a(href='', data-menu='sang') Brakfast
                li
                    a(href='', data-menu='trua') Lunch
                li
                    a(href='', data-menu='toi') Dinner
        // menu-intro
        article.menu-item
            .container
                .row.clearfix
                    .col-xs-12.col-md-6.menu-item-dining.toi
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-2.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-5.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Powered Turkey
                                span.dining-box-price.float-xs-right $20.00
                            p.dinning-text Shrimp, fresh garlic, olive oil
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-7.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Creamy Feta Salad
                                span.dining-box-price.float-xs-right $55.20
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.toi
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-9.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-10.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Roasted Red Pepper
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Black beans, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-1.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Hearty Grain Breakfast
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-6.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Gosh Egg-White
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-8.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Powered Turkey
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Shrimp, fresh garlic, olive oil
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-4.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Creamy Feta Salad
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-3.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Roasted Red Pepper
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Black beans, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-5.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Hearty Grain Breakfast
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='assets/page/product.html')
                                img.img-fluid.img-thumbnail(src='assets/images/dining-item-7.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='assets/page/product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
        // menu-item
    // .menu
    article.special
        .container
            h3.special-title.text-xs-left Our Special Dishes
            .row
                #special-carousel.owl-carousel
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal1.jpg', alt='')
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal2.jpg', alt='')
                        .tag-new New
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal3.jpg', alt='')
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal4.jpg', alt='')
                        .tag-new New
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal5.jpg', alt='')
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
                    .owl-item
                        a(href='assets/page/product.html')
                            img.img-fluid(src='assets/images/meal3.jpg', alt='')
                        .special-box.clearfix
                            span.special-box-title.float-xs-left
                                a(href='assets/page/product.html') Gosh Egg-White Omelet
                            span.special-box-price.float-xs-right $25.40
                        p.special-box-text Mussel with tomato sauce, wine
    article.sale
        .sale-intro.text-xs-center
            .sale-intro-title Our Special Dishes
            .sale-intro-text We Create Delicous Memory
        .sale-item
            .container
                .row
                    .col-xs-12.col-lg-4
                        .sale-item-hours.text-xs-center
                            .sale-item-hours-title Opening Hours
                            p
                                | Monday — Friday
                                br
                                | 9:00 am - 23:00 pm
                            p
                                | Saturday
                                br
                                | 10:00 am - 22:00 pm
                            p
                                | Sunday
                                br
                                | 10:00 am - 21:00 pm
                            p Note: Arctica Restaurant is closed on holidays.
                            .sale-item-hours-phone 0978.485.325
                    .col-xs-12.col-lg-8
                        .sale-item-box.mt-2
                            .row.box
                                .col-xs-12.col-sm-4.text-xs-center
                                    .sale-item-box-image
                                        img.img-fluid(src='assets/images/sale_meal.jpg', alt='')
                                    .sale-item-box-hover $50.35
                                .col-xs-12.col-sm-8
                                    h3.sale-item-box-title.text-xs-center.text-sm-left
                                        a(href='assets/page/post.html') Honey Strawberry
                                    p.sale-item-box-text
                                        | Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.
                                    p.sale-item-box-readmore.text-xs-center.text-sm-left
                                        a(href='assets/page/post.html') Read More
                        .sale-item-box
                            .row
                                .col-xs-12.col-sm-4.text-xs-center
                                    .sale-item-box-image
                                        img.img-fluid(src='assets/images/sale_meal.jpg', alt='')
                                    .sale-item-box-hover $50.35
                                .col-xs-12.col-sm-8
                                    h3.sale-item-box-title.text-xs-center.text-sm-left
                                        a(href='assets/page/post.html') Honey Strawberry
                                    p.sale-item-box-text
                                        | Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.
                                    p.sale-item-box-readmore.text-xs-center.text-sm-left
                                        a(href='assets/page/post.html') Read More
    // .sale
    article.reservation
        .reservation-intro.text-xs-center
            h2.reservation-intro-title Relaxing Atmosphere
            h4.reservation-intro-text Book your table
        .reservation-form
            .container
                .row
                    .col-xs-12.col-lg-10.push-lg-1
                        form(action='index.html', method='post')
                            .row
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='text', placeholder='Your Name *')
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='email', placeholder='Your Email *')
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='number', placeholder='Mobile Number *')
                                    i.fa.fa-mobile
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='text', placeholder='Date *')
                                    i.fa.fa-calendar
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='text', placeholder='Time *')
                                    i.fa.fa-clock-o
                                .col-xs-12.col-md-6.col-lg-4.form-group
                                    input.form-control(type='text', placeholder='No. of Persons *')
                                    i.fa.fa-user
                                .col-xs-12.text-xs-center
                                    button.button-reservation(type='submit') Book Now
    // .reservation
    article.chef
        .chef-intro.text-xs-center
            .chef-intro-title Our Delicious
            .chef-intro-text Meet Our Passionate Chefs
        .chef-group
            .container
                .row
                    .col-sm-12.col-md-4.text-xs-center.chef-group-item
                        img.img-fluid(src='assets/images/chef-1.jpg', alt='', title='Elena Gilbert')
                        h3.chef-group-item-title Lee Nguyen
                        .chef-group-item-text Chef cook
                        span.chef-group-item-social
                            a(href='')
                                i.fa.fa-facebook(title='facebook')
                            a(href='')
                                i.fa.fa-twitter(title='twitter')
                            a(href='')
                                i.fa.fa-pinterest(title='pinterest')
                            a(href='')
                                i.fa.fa-tumblr(title='tumblr')
                            a(href='')
                                i.fa.fa-youtube-play(title='youtube')
                    .col-sm-12.col-md-4.text-xs-center.chef-group-item
                        img.img-fluid(src='assets/images/chef-2.jpg', alt='', title='Elena Gilbert')
                        h3.chef-group-item-title Elena Gen
                        .chef-group-item-text Chef cook
                        span.chef-group-item-social
                            a(href='')
                                i.fa.fa-facebook(title='facebook')
                            a(href='')
                                i.fa.fa-twitter(title='twitter')
                            a(href='')
                                i.fa.fa-pinterest(title='pinterest')
                            a(href='')
                                i.fa.fa-tumblr(title='tumblr')
                            a(href='')
                                i.fa.fa-youtube-play(title='youtube')
                    .col-sm-12.col-md-4.text-xs-center.chef-group-item
                        img.img-fluid(src='assets/images/chef-3.jpg', alt='', title='Elena Gilbert')
                        h3.chef-group-item-title Peter Pan
                        .chef-group-item-text Chef cook
                        span.chef-group-item-social
                            a(href='')
                                i.fa.fa-facebook(title='facebook')
                            a(href='')
                                i.fa.fa-twitter(title='twitter')
                            a(href='')
                                i.fa.fa-pinterest(title='pinterest')
                            a(href='')
                                i.fa.fa-tumblr(title='tumblr')
                            a(href='')
                                i.fa.fa-youtube-play(title='youtube')
    // .team_chef
    article.testimonial
        #testimonial-slide.owl-carousel
            .testimonial-item
                img.img-fluid(src='assets/images/linhnguyen.jpg', alt='')
                .testimonial-item-text
                    q.d-block
                        | Ipsam sunt quos aliquid, totam ullamco gravida fuga, egestas commodo, provident alias. Ducimus ut, consequatur omnis, nec iusto, ultrices minim
                    cite Stevan Smith
            .testimonial-item
                img.img-fluid(src='assets/images/linhnguyen.jpg', alt='')
                .testimonial-item-text
                    q.d-block
                        | Ipsam sunt quos aliquid, totam ullamco gravida fuga, egestas commodo, provident alias. Ducimus ut, consequatur omnis, nec iusto, ultrices minim
                    cite Stevan Smith
            .testimonial-item
                img.img-fluid(src='assets/images/linhnguyen.jpg', alt='')
                .testimonial-item-text
                    q.d-block
                        | Ipsam sunt quos aliquid, totam ullamco gravida fuga, egestas commodo, provident alias. Ducimus ut, consequatur omnis, nec iusto, ultrices minim
                    cite Stevan Smith
    article.blog
        .blog-intro.text-xs-center
            .blog-intro-title Our Blog
            .blog-intro-text Latest New Updates
        .blog-item
            .container
                .row
                    .blog-thumb.col-xs-12.col-sm-4
                        a(href='blog.html')
                            img.img-fluid(src='assets/images/news-1.jpg', alt='')
                        .blog-item-box
                            h3.blog-item-box-title
                                a(href='assets/page/blog.html') Ingredients For Cooking Pasta
                            p.blog-item-box-date
                                | 10 June 2016 
                                span by Peter Parker
                            p.blog-item-box-text
                                | Curabitur quas nets lacusets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligul aliquam qui sequi nets lacusets nulat
                        .blog-item-more
                            span.readmore
                                a(href='assets/page/blog.html') Read More
                            span.like.float-xs-right
                                b 10
                                |  Likes
                    .blog-thumb.col-xs-12.col-sm-4
                        a(href='blog.html')
                            img.img-fluid(src='assets/images/news-2.jpg', alt='')
                        .blog-item-box
                            h3.blog-item-box-title
                                a(href='assets/page/blog.html') The Best Tips For Tasty Food
                            p.blog-item-box-date
                                | 10 June 2016
                                span by Peter Parker
                            p.blog-item-box-text
                                | Curabitur quas nets lacusets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligul aliquam qui sequi nets lacusets nulat
                        .blog-item-more
                            span.readmore
                                a(href='assets/page/blog.html') Read More
                            span.like.float-xs-right
                                b 10
                                |  Likes
                    .blog-thumb.col-xs-12.col-sm-4
                        a(href='blog.html')
                            img.img-fluid(src='assets/images/news-3.jpg', alt='')
                        .blog-item-box
                            h3.blog-item-box-title
                                a(href='assets/page/blog.html') Your Weeknight Dinner Plan
                            p.blog-item-box-date
                                | 10 June 2016 
                                span by Peter Parker
                            p.blog-item-box-text
                                | Curabitur quas nets lacusets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligul aliquam qui sequi nets lacusets nulat
                        .blog-item-more
                            span.readmore
                                a(href='assets/page/blog.html') Read More
                            span.like.float-xs-right
                                b 10
                                |  Likes