footer
	//-topfooter
	.topfooter
		.container
			.row
				.col-xs-12.col-sm-8.col-md-12.col-lg-4.topfooter-col1
					.row
						.topfooter-col1-intro.col-md-6.col-lg-12
							img.img-fluid(src='assets/images/logo-anbien.png', alt='')
							p
								| Curabitur quas nets lacusets nulat iaculis loremis etis nisle varius vitae seditum fugiatum ligul aliquam.
						address.topfooter-col1-address.col-md-6.col-lg-12
							div
								i.fa.fa-paper-plane-o
								span Address : 44 New Design Street, Melbourne 005
							div
								i.fa.fa-phone
								span Phone : (01) 800 433 633
							div
								i.fa.fa-envelope-o
								span Email : info@Example.com
				.col-xs-12.col-sm-4.col-md-3.col-lg-2.topfooter-col2
					h4.topfooter-col2-link usefull links
					ul.topfooter-col2-about
						li
							a(href='assets/page/about.html') About Company
						li
							a(href='assets/page/reservation.html') Reservation
						li
							a(href='assets/page/contact.html') Help Center
						li
							a(href='assets/page/blog.html') Our Blog
						li
							a(href='assets/page/blog.html') Careers
						li
							a(href='assets/page/contact.html') Contact us
				.col-xs-12.col-sm-5.col-md-4.col-lg-3.topfooter-col3
					h4.topfooter-col3-link Latest Blog Post
					.topfooter-col3-post
						.topfooter-col3-post-image
							img.img-fluid(src='assets/images/post-image.jpg', alt='')
						.topfooter-col3-post-title
							a(href='assets/page/post.html') Peaceful Hostel
						.topfooter-col3-post-date 25th June 2016
					.topfooter-col3-post
						.topfooter-col3-post-image
							img.img-fluid(src='assets/images/post-thumb-2.jpg', alt='')
						.topfooter-col3-post-title
							a(href='assets/page/post.html') Chicken Caesar
						.topfooter-col3-post-date 25th June 2016
					.topfooter-col3-post
						.topfooter-col3-post-image
							img.img-fluid(src='assets/images/post-thumb-3.jpg', alt='')
						.topfooter-col3-post-title
							a(href='assets/page/post.html') Portobello Pizza
						.topfooter-col3-post-date 25th June 2016
				.col-xs-12.col-sm-7.col-md-5.col-lg-3.topfooter-col4
					h4.topfooter-col4-link Opening Hours
					.topfooter-col4-opening.clearfix.text-xs-center
						span.topfooter-col4-opening-date.float-xs-left Mon - Fri
						span.topfooter-col4-opening-dots ..........
						span.topfooter-col4-opening-hours.float-xs-right 9:00 am - 23:00 pm
					.topfooter-col4-opening.clearfix.text-xs-center
						span.topfooter-col4-opening-date.float-xs-left Mon - Fri
						span.topfooter-col4-opening-dots ..........
						span.topfooter-col4-opening-hours.float-xs-right 9:00 am - 23:00 pm
					.topfooter-col4-opening.clearfix.text-xs-center
						span.topfooter-col4-opening-date.float-xs-left Mon - Fri
						span.topfooter-col4-opening-dots ..........
						span.topfooter-col4-opening-hours.float-xs-right 9:00 am - 23:00 pm
					.topfooter-col4-note Note: Arctica Restaurant is closed on holidays.
	//-bottom footer
	.bottomfooter
		.col-xs-12.text-xs-center Copyrights @ 2017 All Right Revered