article.blog
    .container
        .row
            .blog-intro.col-xs-12.text-xs-center
                .blog-intro-title Tips For New Dishes
                .blog-intro-text Latest News
            .blog-posts.col-xs-12.col-sm-12.col-md-8.col-lg-9
                .blog-item
                    a(href='post.html')
                        img.img-fluid(src='../images/news-4.jpg', alt='')
                    .blog-item-box
                        h2.blog-item-box-title
                            a(href='post.html') Ingredients For Cooking Pasta With Creamy Mushroom
                        p.blog-item-box-date
                            | 10 June 2016 
                            span by Peter Parker
                        p.blog-item-box-text
                            | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniol res eos qui rate voluptatem sequi nesciunt Neque porro quisquam est qui dolorem ipsum quia dolore sit amet con sectetur adipisci vel sed quia suthagara lukuthea satham[...]
                    .blog-item-more
                        span.readmore
                            a(href='post.html') Read More
                        span.like.float-xs-right
                            b 10
                            |  Likes
                .blog-item
                    a(href='post.html')
                        img.img-fluid(src='../images/news-7.jpg', alt='')
                    .blog-item-box
                        h2.blog-item-box-title
                            a(href='post.html') Whole Trout With Herbs Spices And Seasoning For Fish Dishes
                        p.blog-item-box-date
                            | 10 June 2016 
                            span by Peter Parker
                        p.blog-item-box-text
                            | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniol res eos qui rate voluptatem sequi nesciunt Neque porro quisquam est qui dolorem ipsum quia dolore sit amet con sectetur adipisci vel sed quia suthagara lukuthea satham[...]
                    .blog-item-more
                        span.readmore
                            a(href='post.html') Read More
                        span.like.float-xs-right
                            b 10
                            |  Likes
                .blog-item
                    a(href='post.html')
                        img.img-fluid(src='../images/news-10.jpg', alt='')
                    .blog-item-box
                        h2.blog-item-box-title
                            a(href='post.html') The Best Tips For Fresh And Healthy Foods Recipes
                        h4.blog-item-box-date
                            | 10 June 2016
                            span.author by Peter Parker
                        p.blog-item-box-text
                            | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniol res eos qui rate voluptatem sequi nesciunt Neque porro quisquam est qui dolorem ipsum quia dolore sit amet con sectetur adipisci vel sed quia suthagara lukuthea satham[...]
                    .blog-item-more
                        span.readmore
                            a(href='post.html') Read More
                        span.like.float-xs-right
                            b 10
                            |  Likes
                #navigation.text-xs-center
                    ul.pagination
                        li
                            a.active(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a.next(href='#') Next
            aside.sidebar.col-xs-12.col-sm-12.col-md-4.col-lg-3
                .row
                    .search.col-xs-12
                        form(action='blog.html', method='post')
                            input.form-control(type='text', placeholder='Search Product', name='search')
                            button(type='submit')
                                i.fa.fa-search
                    .categories.col-xs-12.col-sm-3.col-md-12.wow.fadeInUp.animated(data-wow-duration='2000')
                        h3.title Categories
                        ul
                            li
                                a(href='post.html') Healthy Food
                            li
                                a(href='post.html') Super Burger
                            li
                                a(href='post.html') Home Special
                            li
                                a(href='post.html') Desserts
                    .toprated.col-xs-12.col-sm-6.col-md-12.wow.fadeInUp.animated(data-wow-duration='2000')
                        h3.title Top Rated
                        .toprated-box
                            .box-image
                                a(href='product.html')
                                    img.img-fluid(src='../images/post-thumb-4.jpg', alt='')
                            .box-title
                                span.name
                                    a(href='product.html') Chicken Caesar
                                .price
                                    span.price-main $ 90.00
                                    span.price-sale $ 100.00
                        .toprated-box
                            .box-image
                                a(href='product.html')
                                    img.img-fluid(src='../images/post-thumb-5.jpg', alt='')
                            .box-title
                                span.name
                                    a(href='product.html') Mexican Cuisine
                                .price
                                    span.price-main $ 90.00
                                    span.price-sale $ 100.00
                        .toprated-box
                            .box-image
                                a(href='product.html')
                                    img.img-fluid(src='../images/post-thumb-6.jpg', alt='')
                            .box-title
                                span.name
                                    a(href='product.html') Mexican Cuisine
                                .price
                                    span.price-main $ 90.00
                                    span.price-sale $ 100.00
                    .categories.col-xs-12.col-sm-3.col-md-12.wow.fadeInUp.animated(data-wow-duration='2000')
                        h3.title Archives
                        ul
                            li
                                a(href='') June 2016
                            li
                                a(href='') June 2016
                            li
                                a(href='') June 2016
                            li
                                a(href='') June 2016
