article.gallery
    .sale-intro.text-xs-center
        .sale-intro-title Our Food Gallery Grid
        .sale-intro-text Fresh And Healthy Food Available
    .container
        .row
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-4.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-5.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-6.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-7.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-8.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-9.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-10.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-11.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            .gallery-box.col-xs-12.col-sm-6.col-lg-4
                a(href='')
                    img.img-fluid(src='../images/gallery-12.jpg', alt='')
                .gallery-box-title
                    a(href='') Masala Spices Chickpeas1
            #navigation.col-xs-12.text-xs-center
                ul.pagination
                    li
                        a.active(href='#') 1
                    li
                        a(href='#') 2
                    li
                        a.next(href='#') Next
    .gallery-blur
    .gallery-carousel
        .popup-text
            h3 Text in there
            i.fa.fa-close
        .gallery-carousel-inner
            #gallery-carousel-main.owl-carousel
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
                .main-item
                    img.img-fluid(src='../images/13.jpg', alt='')
            #gallery-carousel-thumbs.owl-carousel
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-1.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-2.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-3.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-1.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-2.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-3.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-1.jpg', alt='')
                .thumb-item
                    img.img-fluid(src='../images/gallery-thumb-2.jpg', alt='')
