section#menupage
    article.dishes
        .sale-intro.text-xs-center
            .sale-intro-title Our Delicious Menu Items Combo
            .sale-intro-text Fresh And Healthy Food Available
        .container
            .row
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-1.jpg', alt='')
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-2.jpg', alt='')
                            .tag-new New
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-3.jpg', alt='')
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-9.jpg', alt='')
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-10.jpg', alt='')
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
                .col-xs-12.col-sm-6.col-md-4
                    .dish
                        .dish-image
                            a(href='product.html')
                                img.img-fluid(src='../images/dish-11.jpg', alt='')
                            .tag-new New
                        .dish-box
                            .dish-box-content.clearfix
                                h3.title.float-xs-left
                                    a(href='product.html') Delirium Tremens
                                span.price.float-xs-right $155
                            p.text Mussel with tomato sauce, wine
    section.menu
        article.menu-intro
            h2.menu-intro-title Our Delicious Menu Items
            h4.menu-intro-text Fresh And Healthy Food Available
            ul.menu-list
                li
                    a.active(href='', data-menu='all') All
                li
                    a(href='', data-menu='sang') Breakfast
                li
                    a(href='', data-menu='trua') Lunch
                li
                    a(href='', data-menu='toi') Dinner
        // menu-intro
        article.menu-item
            .container
                .row.clearfix
                    .col-xs-12.col-md-6.menu-item-dining.toi
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-2.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-5.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Powered Turkey Meatballs
                                span.dining-box-price.float-xs-right $20.00
                            p.dinning-text Shrimp, fresh garlic, olive oil
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-7.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Creamy Feta Salad Dressing
                                span.dining-box-price.float-xs-right $55.20
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.toi
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-9.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-10.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Roasted Red Pepper Hummus
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Black beans, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-1.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Hearty Grain Breakfast
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-6.jpg', alt='')
                            .tag-new New
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-8.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Powered Turkey Meatballs
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Shrimp, fresh garlic, olive oil
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-4.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Creamy Feta Salad Dressing
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.trua
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-3.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Roasted Red Pepper Hummus
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Black beans, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-5.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Hearty Grain Breakfast
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Salt, garlic, pork tenderloin
                    .col-xs-12.col-md-6.menu-item-dining.sang
                        .menu-item-dining-image.float-xs-left
                            a(href='product.html')
                                img.img-fluid.img-thumbnail(src='../images/dining-item-7.jpg', alt='')
                        .menu-item-dining-meal
                            .dining-box.text-xs-center.clearfix
                                span.dining-box-title.float-xs-left
                                    a(href='product.html') Gosh Egg-White Omelet
                                span.dining-box-price.float-xs-right $25.40
                            p.dinning-text Mussel with tomato sauce, wine
