section.productpage
    article.menu-intro
        h2.menu-intro-title Hand-Crafted Dishes Sourced
        h3.menu-intro-text Shop Products
    article.product
        .container
            .row
                .product-carousel.col-xs-12.col-md-6.wow.fadeInLeft.animated
                    #product-image.owl-carousel
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                        .product-image-item
                            a(href='../images/shop-image-1.jpg', data-fancybox='', data-toolbar='false', data-small-btn='true')
                                img(src='../images/shop-image-1.jpg', alt='')
                    #product-thumbs.owl-carousel
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                        .product-thumb-item
                            img.owl-thumb-item(src='../images/shop-thumb-1.jpg', alt='')
                .col-xs-12.col-md-6
                    .product-detail
                        .product-detail-title
                            .title
                                h2 Stuffed Hamburger
                            .rating.clearfix
                                .rating-star.float-xs-left
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                .rating-review
                                    span
                                        a(href='') 2 reviews
                                    span
                                        a(href='') Write a Review
                            p.description
                                | Three's company too. All of them had hair of gold like their mother the youngest one in curls. The Brady Bunch the Brady Bunch that's the way.
                                | we all became the Brady Bunch. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.
                        .product-detail-price
                            .price $45.00
                            .addcart.clearfix
                                span Qty:
                                input#qty(type='text')
                                button.button-reservation(type='submit') ADD TO CART
                                .share
                                    i.fa.fa-share-alt
                        .product-detail-review
                            .review-title.clearfix
                                a.active(href='') DESCRIPTION
                                a(href='') REVIEWS (2)
                            .review-description
                                ul.review
                                    li.review_1.visible
                                        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae ultricies ege tempor sit amet, ante. Donec eu libero sit amet quam egestas semperenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                    li.review_2
                                        .review-box
                                            .review-box-image
                                                img.img-fluid.img-thumbnail(src='../images/review-1.jpg', alt='')
                                            .review-box-detail
                                                .star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                p.customer Admin – April 03, 2016:
                                                span
                                                    | Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        .review-box
                                            .review-box-image
                                                img.img-fluid.img-thumbnail(src='../images/review-1.jpg', alt='')
                                            .review-box-detail
                                                .star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                    i.fa.fa-star
                                                p.customer Admin – April 03, 2016:
                                                span
                                                    | Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        .review-form
                                            h4 Add A Review
                                            form(action='product.html', method='post')
                                                fieldset.form-group
                                                    label(for='name')
                                                        | Name
                                                        span *
                                                    input#name.form-control(type='text')
                                                fieldset.form-group
                                                    label(for='mail')
                                                        | Email
                                                        span *
                                                    input#mail.form-control(type='text')
                                                fieldset.form-group
                                                    label(for='phone')
                                                        | Phone number
                                                        span *
                                                    input#phone.form-control(type='text')
                                                .review-form-rating
                                                    span
                                                        i.fa.fa-star
                                                    span
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                    span
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                    span
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                    span
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                fieldset.form-group
                                                    label(for='comments') Your Review
                                                    textarea#comments.form-control
                                                button.button-reservation(type='submit') Add Review
    article.releated
        .sale-intro.text-xs-center
            .sale-intro-text Releated Products
        .container
            .row
                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                    .box-image
                        a(href='')
                            img.img-fluid(src='../images/dish-15.jpg', alt='')
                        .box-image-bag
                            a(href='shop.html')
                                i.fa.fa-shopping-basket
                                | ADD TO BAG
                        .tag-new New
                    .box-inner.clearfix
                        h3.box-inner-title.float-xs-left
                            a(href='') Chicken Caesar Salad
                        span.box-inner-price.float-xs-right $22.99
                    .box-text Mussel with tomato sauce
                    .rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                    .box-image
                        a(href='')
                            img.img-fluid(src='../images/dish-15.jpg', alt='')
                        .box-image-bag
                            a(href='shop.html')
                                i.fa.fa-shopping-basket
                                | ADD TO BAG
                    .box-inner.clearfix
                        h3.box-inner-title.float-xs-left
                            a(href='') Chicken Caesar Salad
                        span.box-inner-price.float-xs-right $22.99
                    .box-text Mussel with tomato sauce
                    .rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                    .box-image
                        a(href='')
                            img.img-fluid(src='../images/dish-15.jpg', alt='')
                        .box-image-bag
                            a(href='shop.html')
                                i.fa.fa-shopping-basket
                                | ADD TO BAG
                    .box-inner.clearfix
                        h3.box-inner-title.float-xs-left
                            a(href='') Chicken Caesar Salad
                        span.box-inner-price.float-xs-right $22.99
                    .box-text Mussel with tomato sauce
                    .rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
