section.shoppage
    article.menu-intro
        h2.menu-intro-title Hand-Crafted Dishes Sourced
        h3.menu-intro-text Shop Products
    article.shop
        .container
            .row
                .col-xs-12.col-md-8.col-lg-9
                    .shop-content
                        .shop-list.clearfix
                            .showinglist.text-xs-center.float-sm-left Showing 1–12 of 20 results
                            .sorting.float-sm-right
                                select(name='sorting')
                                    option(value='default') Default Sorting
                                    option(value='ascending') Sorting: Ascending Order
                                    option(value='descending') Sorting: Descending Order
                        .shop-item
                            .row
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-15.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                        .tag-new New
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-16.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-17.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-22.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-23.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                        .tag-new New
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='product.html')
                                            img.img-fluid(src='../images/dish-18.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                        .tag-new New
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='product.html') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-19.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4.col-xl-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-20.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-21.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-24.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-25.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                                .shop-item-box.col-xs-12.col-sm-6.col-lg-4
                                    .box-image
                                        a(href='')
                                            img.img-fluid(src='../images/dish-26.jpg', alt='')
                                        .box-image-bag
                                            a(href='shop.html')
                                                i.fa.fa-shopping-basket
                                                | ADD TO BAG
                                    .box-inner.clearfix
                                        h3.box-inner-title.float-xs-left
                                            a(href='') Chicken Caesar Salad
                                        span.box-inner-price.float-xs-right $22.99
                                    .box-text Mussel with tomato sauce
                                    .rating
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-half-o
                    #navigation.text-xs-center
                        ul.pagination
                            li
                                a.active(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a.next(href='#') Next
                .col-xs-12.col-md-4.col-lg-3
                    aside.sidebar
                        .search
                            form(action='blog.html', method='post')
                                input.form-control(type='text', placeholder='Search Product', name='search')
                                button(type='submit')
                                    i.fa.fa-search
                        .categories.wow.fadeInUp.animated(data-wow-duration='2000')
                            h3.title Categories
                            ul
                                li
                                    a(href='') Healthy Food
                                li
                                    a(href='') Super Burger
                                li
                                    a(href='') Home Special
                                li
                                    a(href='') Desserts
                        .toprated.wow.fadeInUp.animated(data-wow-duration='2000')
                            h3.title Top Rated
                            .toprated-box
                                .box-image
                                    a(href='')
                                        img.img-fluid(src='../images/post-thumb-4.jpg', alt='')
                                .box-title
                                    span.name
                                        a(href='') Mexican Cuisine
                                    .price
                                        span.price-main $90.00
                                        span.price-sale $100.00
                            .toprated-box
                                .box-image
                                    a(href='')
                                        img.img-fluid(src='../images/post-thumb-5.jpg', alt='')
                                .box-title
                                    span.name
                                        a(href='') Chicken Caesar
                                    .price
                                        span.price-main $90.00
                                        span.price-sale $100.00
                            .toprated-box
                                .box-image
                                    a(href='')
                                        img.img-fluid(src='../images/post-thumb-6.jpg', alt='')
                                .box-title
                                    span.name
                                        a(href='') Mexican Cuisine
                                    .price
                                        span.price-main $90.00
                                        span.price-sale $100.00
